{% load bootstrap4 %}
{% load static %}
{% load fontawesome_5 %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% bootstrap_css %}
        {% fontawesome_5_static %}

        <link rel="stylesheet" href="{% static 'seawatch_registration/css/seawatch_registration.css' %}">

        <title>{% block title %}SeaWatch{% endblock %}</title>

        {% block head %}{% endblock %}
        {% bootstrap_javascript jquery="slim" %}
    </head>
    <body>
        {% include 'navbar.html' %}

        <div class="container">
            {% include 'partials/messages.html' %}

            {% block content %}{% endblock %}
        </div>
    </body>
</html>
