{% load bootstrap4 %}
{% load static %}
{% load i18n %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'seawatch_registration/images/logo.png' %}" width="70" height="64"
             class="d-inline-block align-top mr-2" alt="">
        <!--Sea Watch-->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link {% if view.nav_item == 'index' %}active{% else %}{{ view.nav_item }}{% endif %}"
                   href="{% url 'index' %}">{% trans "Home" %}</a>
            </li>
            {% if request.user.is_authenticated %}
                {% if perms.assessments.can_assess_profiles %}
                    <li class="nav-item">
                        <a class="nav-link {% if view.nav_item == 'assessment' %}active{% endif %}"
                           href="{% url 'assessment_list' %}">{% trans "Assessments" %}</a>
                    </li>
                {% endif %}
                {% if perms.missions.view_mission %}
                    <li class="nav-item">
                        <a class="nav-link {% if view.nav_item == 'missions' %}active{% endif %}"
                           href="{% url 'mission_list' %}">{% trans "Missions" %}</a>
                    </li>
                {% endif %}
                {% if perms.missions.view_ship %}
                    <li class="nav-item">
                        <a class="nav-link {% if view.nav_item == 'ships' %}active{% endif %}"
                           href="{% url 'ship_list' %}">{% trans "Ships" %}</a>
                    </li>
                {% endif %}
                {% if perms.seawatch_registration.view_question %}
                    <li class="nav-item">
                        <a class="nav-link {% if view.nav_item == 'questions' %}active{% endif %}"
                           href="{% url 'question_list' %}">{% trans "Questions" %}</a>
                    </li>
                {% endif %}
                {% if request.user.profile %}
                    {% comment %}
                        FIXME: This should not be hardcoded but take the order from somewhere else.
                    {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link {% if view.nav_item == 'profile' %}active{% endif %}"
                           href="{% url 'profile_detail' %}">{% trans "Profile" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if view.nav_item == 'skills' %}active{% endif %}"
                           href="{% url 'skill_update' %}">{% trans "Skills" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if view.nav_item == 'documents' %}active{% endif %}"
                           href="{% url 'document_list' %}">{% trans "Documents" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if view.nav_item == 'positions' %}active{% endif %}"
                           href="{% url 'requested_position_update' %}">{% trans "Requested Positions" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if view.nav_item == 'questions' %}active{% endif %}"
                           href="{% url 'question_answer' %}">{% trans "Questions" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if view.nav_item == 'availabilities' %}active{% endif %}"
                           href="{% url 'availability_list' %}">{% trans "Availabilities" %}</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
        <ul class="nav navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ request.user.first_name }} {{ request.user.last_name }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if request.user.profile %}
                            <a class="dropdown-item" href="{% url 'profile_detail' %}">{% trans "Show profile" %}</a>
                            <a class="dropdown-item" href="{% url 'registration_process' %}">{% trans "Registration Status" %}</a>
                            <div class="dropdown-divider"></div>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'password_change' %}">{% trans "Change password" %}</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">{% trans 'Logout' %}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link
                            {% url 'login' as login_url %}{% if request.get_full_path == login_url %}active{% endif %}"
                       href="{% url 'login' %}">{% trans "Login" %}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
