{% load render_bundle get_files from webpack_loader %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script>{% get_files 'main' as css_files %}
        window.contentsCss = '{{ css_files.0.publicPath }}';
    </script>
    {% render_bundle 'main' %}
</head>
<body>
    <div id="anchor"></div>
</body>
</html>
